.git
.github
.idea
.nuxt
.output
.pnpm-store
.turbo
.vscode
coverage
dist
node_modules
**/node_modules
**/.nuxt
**/.output
**/dist
.env
.env.*
secrets
docs
**/*.md
**/test
**/*.spec.ts
compose*.yaml
docker-bake.hcl
Caddyfile
*.log
.DS_Store
